:root.theme_light {
  --title-color: #ffc2e6;
  --text-primary: #353430;
  --text-secondary: #353430;
  --text-default: #353430;
  --bg-primary: #fff1f7;
  --bg-secondary: #ff8dcb;
  --shadow-primary: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --hover-color: rgba(255, 0, 112, 0.4);
  --font: "IBM Plex Mono", monospace;
  --text-size: 18px;
  --title-size: 116px;
  --text-weight-normal: 400;
  --text-weight-bold: 700;
  --border-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #ffc2e6;
    --text-primary: #353430;
    --text-secondary: #353430;
    --text-default: #353430;
    --bg-primary: #fff1f7;
    --bg-secondary: #ff8dcb;
    --shadow-primary: #ff8dcb;
    --bg-image: url("../images/cover-image-light.png");
    --hover-color: rgba(255, 0, 112, 0.4);
    --font: "IBM Plex Mono", monospace;
    --text-size: 18px;
    --title-size: 116px;
    --text-weight-normal: 400;
    --text-weight-bold: 700;
    --border-color: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.4);
  }
}

.page.theme_light {
  --title-color: #ffc2e6;
  --text-primary: #353430;
  --text-secondary: #353430;
  --text-default: #353430;
  --bg-primary: #fff1f7;
  --bg-secondary: #ff8dcb;
  --shadow-primary: #ff8dcb;
  --bg-image: url("../images/cover-image-light.png");
  --hover-color: rgba(255, 0, 112, 0.4);
  --font: "IBM Plex Mono", monospace;
  --text-size: 18px;
  --title-size: 116px;
  --text-weight-normal: 400;
  --text-weight-bold: 700;
  --border-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.4);

  .decorative-marker {
    visibility: hidden;
  }
}
