@media (prefers-color-scheme: light) {
  :root {
    --title-color: #FFC2E6;
    --text-primary: #353430;
    --text-secondary: #353430;
    --text-default: #353430;
    --bg-primary: #FFF1F7;
    --bg-secondary: #FF8DCB;
    --shadow-primary: #FF8DCB;
    --bg-image: url("../images/cover-image-light.png");
    --hover-color: rgba(255, 0, 112, 0.40);
    --font: 'IBM Plex Mono', monospace;
    --text-size: 18px;
    --title-size: 116px;
    --text-weight-normal: 400;
    --text-weight-bold: 700;
    --border-color: #353430;
    --border-color-hover: rgba(50, 49, 45, 0.40);
  }
}

.page.theme_light {
  --title-color: #FFC2E6;
  --text-primary: #353430;
  --text-secondary: #353430;
  --text-default: #353430;
  --bg-primary: #FFF1F7;
  --bg-secondary: #FF8DCB;
  --shadow-primary: #FF8DCB;
  --bg-image: url("../images/cover-image-light.png");
  --hover-color: rgba(255, 0, 112, 0.40);
  --font: 'IBM Plex Mono', monospace;
  --text-size: 18px;
  --title-size: 116px;
  --text-weight-normal: 400;
  --text-weight-bold: 700;
  --border-color: #353430;
  --border-color-hover: rgba(50, 49, 45, 0.40);

  .decorative-marker {
    visibility: hidden;
  }
}
